  *{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(/img/1602566417540.jpg);
}

/*background image and position*/
.full-page{
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
}

/*setting dimensions of the nav bar 'the box'*/
.navbar{
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 50px;
}

/*styling the list elements*/
nav{
  flex: 1;
  text-align: right;
}

nav ul{
  display:inline-block;
  list-style: none;
}

nav ul li{
  display: inline-block;
  margin-right: 70px;
}

/*the home,about,contact buttons*/
nav ul li a{
  text-decoration: none;
  font-size: 30px;
  color:  red;
  font-family: sans-serif;
  background: white;
}

/*login button*/
nav ul li button{
  font-size: 30px;
  color: white;
  outline: none;
  border: none;
  background: black;
  cursor: pointer;
  font-family: sans-serif;
  position: relative;
}

/*the color when you click on each tab*/
nav ul li a:hover {
  color: black;
}

/*the color when you click on login button*/
nav ul li button:hover{
  color: forestgreen;
}

/*blog button*/
a{
  text-decoration: none;
  color: blue;
  font-size:40px;
  background-image: url('/img/images (7).jpeg');
  background-size: cover;
}

 /*this block hid the form until when clicked on login button*/
 
#login-form{
  display: none;
}

.form-box{
  width: 400px;
  height: 800px;
  position: relative;
  margin: 2% auto;
  background: rgba(0,0,0,0,3);
  padding: 10px;
  overflow: hidden;
}

/*Creating the form with width, height e.t.c*/
.button-box{
  width: 200px;
  margin: 40px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

/*login/register toggle button*/
.toggle-btn{
  padding: 20px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

/*Login/Transparent toggle button*/

#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 100px;
  height: 50px;
  background: royalblue;
  border-radius: 30px;
  transition: .5s;
}

/*Login text box as a whole*/
.input-group-login{
  top: 150px;
  position: absolute;
  width: 280px;
  transition: .5s;
}

/*Registration text box as a whole*/
.input-group-register{
  top: 120px;
  position: absolute;
  width: 300px;
  transition: .5s;
}

/*Login input fields*/

.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 10;
  border-bottom: 1px solid #999;
  outline: none;
  background: #021a;
  text-align: center;
}

/*Submit btn*/

.submit-btn{
  width: 45%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #F5C553;
  border: 0;
  outline: none;
  border-radius: 30px;
}

.check-box{
  margin: 30px 10px 34px 0;
}

/*Check box text*/
span{
  color: white;
  font-size: 18px;
  bottom: 40px;
  position: absolute;
  background: transparent;
}

#login{
  left: 50px;
}
/*Input text during log in*/
#login input{
  color: ghostwhite;
  font-size: 18px;
}

#register{
  left: 500px;
}

#register input{
  color: ghostwhite;
  font-size: 18px;
}
